#content-wrapper {
    margin: 0 auto;
    min-width: 1139px;
}

#logo {
    padding-top: 109px;
}

footer {
    position: fixed;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: grid;
    width: 30px;
    height: 30px;
    grid-template-columns: 3px 6px 3px 6px 3px 6px 3px;
    grid-template-rows: 3px 6px 3px 6px 3px 6px 3px;
}

.black {
    background-color: black;
}